<!DOCTYPE html>
<html>
<head>
  <title>Shoos shoe shop</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="page-wrap">
    <header>
    <h1>Shoos!</h1>
    </header>
    <%= yield %>
  </div>
  <footer class="site-footer">&copy2016 Shoos by Kat</footer>
</body>
</html>