<h2>Order Your New Shoos</h2>

<form action="/shoes" method="post">
<p><label for="first_name">First Name:</label>
  <input type="text" name="first_name"></p>
<p><label for="last_name">Last Name:</label>
  <input type="text" name="last_name"></p>
<p><label for="colour">Select your colour:</label>
  <select name="colour">
    <option value="Red">Red</option>
    <option value="Black">Black</option>
    <option value="Navy">Navy</option>
    <option value="Pink">Pink</option>
    <option value="White">White</option>
  </select></p> 
<p><label for="size">Select your size:</label>
  <select name="size">
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select></p> 
<p><label for="quantity">Quantity:</label>
  <input type="number" name="quantity"></p> 

  <p><label for="street_address">Street address:</label>
     <input type="text" name="street_address"></p>
  <p><label for="town">Town:</label>
     <input type="text" name="town"></p>
  <p><label for="postcode">Postcode:</label>
     <input type="text" name="postcode"></p>


<p><input type="submit" value="Order Shoes"></p> 

</form>